<div class="container center">

    <h1>{{ 'APP_TITLE' | translate }}</h1>

    <img src="../../assets/images/vjuh.png" alt="котовжух" height="300px" width="300px" />

    <p>{{ 'APP_TEXT' | translate }}</p>

</div>

<div class="container">
    <timeline [experience]="experience"></timeline>

    <group-card title="Skills" icon="puzzle-piece">
        <div *ngFor="let skill of skills">
            <rating-bar
                [ratingTotal]="skill.rating"
                count="5">
            </rating-bar>
            {{ skill.name }}
        </div>
    </group-card>
</div>
